server {
	location /api {
		proxy_pass ${BACKEND_URL}/api; 
		proxy_set_header Host $host;
	}

	location /admin {
		proxy_pass ${BACKEND_URL}/admin;
		proxy_set_header Host $host;
	}

	location / {
		root /usr/share/nginx/html;
		try_files $uri $uri/ /index.html;
	}
}